---
---

body {
  font-family: "Lato";
  font-weight: 300;
}

#title {
  .name {
    margin-top: 30px;

    font-size: 48px;
    font-weight: 600;

    text-transform: lowercase;
  }

  .description {
    font-size: 28px;
  }

  .social {
    margin-top: 12px;

    font-size: 36px;
  }

  a {
    color: gray;

    cursor: pointer;

    margin: 0 10px;

    &:hover {
      color: black;
    }
  }
}

hr {
  margin: 40px 0;
}

#about {
  p {
    font-size: 24px;
  }
}

#list-of-posts {
  .headline {
    margin: 20px 0;

    font-size: 18px;

    .title {
      font-size: 20px;
      font-weight: 400;
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  .more {
    font-size: 18px;

    i {
      font-size: 12px;
      line-height: 18px;
      margin-left: 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.post {
  .post-header {
    h1 {
      margin-top: 0;
      font-weight: 700;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .post-content {
    font-family: 'PT Serif', Georgia, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 18px;
  }
}