---
layout: page
---

<div id="projects" class="row">
  {% assign pages = site.pages | sort: 'title' %}
  {% for page in pages %}
    {% if page.categories contains "project" %}
      <div class="col-md-3 col-sm-4 text-center">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <img class="img-rounded" src="{{ page.dir | prepend: site.baseurl | append: "thumb.png" }}" />
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
<br />
<br />
<p>
  If you're looking for code that I've written, check out my <a href="https://github.com/sjlu?tab=repositories">GitHub</a>
  for libraries I've contributed to or older projects I've worked on. I'm also a bounty hunter on
  <a href="http://stackoverflow.com/users/219912/steven-lu">Stack Overflow</a> if you're interested
  in reading up on questions I've answered.
</p>