<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
        <img class="img-circle" src="{{ "/images/avatar.jpg" | prepend: site.baseurl }}" />
        <span class="title">{{ site.title }}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ "/posts" | prepend: site.baseurl }}">Posts</a></li>
        <li><a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<hr class="no-margin" />