---
layout: post
title: "Dieting"
description: ""
category:
tags: []
---

<div ng-app="dietCalculator">
  <div ng-controller="dietCalculatorController">
    <p>
      The <a href="http://forum.bodybuilding.com/showthread.php?t=156380183">basics of dieting</a>, whether it is to loose or gain weight, is to meet your caloric needs and to fulfill your body's basic nutritional needs and tweak it from there. These are just estimates but it should give you a good starting point.
      <br />
      <br />
      You weigh <span contenteditable="true" style="min-width:28px" ng-model="weight"></span>
      pounds with about <span contenteditable="true" style="min-width:12px" ng-model="percentBodyFat"></span>%
      of that being bodyfat. Using the <a href="http://en.wikipedia.org/wiki/Basal_metabolic_rate#cite_ref-8">Katch-McArdle</a> formula, you should be eating at least <strong><span ng-bind="(370 + ((weight/2.2046) * (1-percentBodyFat/100) * 21.6)) * 1.2 | number:0"></span></strong> calories. If you exercise for an hour
      everyday for <span contenteditable="true" style="min-width:8px" ng-model="daysExercise"></span> <ng-pluralize count="daysExercise" when="{'0': 'days', 'one': 'day', 'other': 'days'}"></ng-pluralize>,
      you'll now need <strong><span ng-bind="(370 + ((weight/2.2046) * (1-percentBodyFat/100) * 21.6)) * (1.2 + daysExercise/10) | number:0"></span></strong> calories to maintain your current weight also known as your <a href="http://forums.eatmore2weighless.com/showthread.php?tid=1">TDEE</a>.
      <br />
      <br />
      As for macronutrients, you should be eating 1.5 grams of protein per pound of bodyweight. That equals about <strong><span ng-bind="1.5*weight | number:0"></span></strong> grams for just protein. Another 0.6 grams per pound of bodyweight should go to fats, making that <strong><span ng-bind="0.6*weight | number:0"></span></strong> grams of fat. Fats consume about 9 calories per gram while carbs and protein consume about 4 per gram. Taking that into consideration and the minimums you have to eat we can deduce the rest you need to eat in carbs. In this case, you should be consuming about <strong><span ng-bind="(((370 + ((weight/2.2046) * (1-percentBodyFat/100) * 21.6)) * (1.2 + daysExercise/10)) - (1.5*weight*4) - (0.6*weight*9))/4 | number:0"></span></strong> grams of carbs.
      <br />
      <br />
      From these numbers you will need to increase your carbs by 75 grams or 300 calories. This will either give you a caloric surplus or a deficit which will then in turn cause your body to loose or gain weight. You should experiment with these numbers weekly and see how they affect your bodyweight. Adjust your numbers just until you start gaining or loosing weight.
    </p>
    <br />
    <table class="table table-bordered" style="width: auto !important;">
      <tr>
        <td><strong>Weight</strong></td>
        <td><span contenteditable="true" style="min-width:28px" ng-model="weight"></span> lbs</td>
      </tr>
      <tr>
        <td><strong>Bodyfat Percentage</strong></td>
        <td><span contenteditable="true" style="min-width:12px" ng-model="percentBodyFat"></span>%</td>
      </tr>
      <tr>
        <td><strong>Days of Exercise</strong></td>
        <td><span contenteditable="true" style="min-width:8px" ng-model="daysExercise"></span></td>
      </tr>
      <tr>
        <td><strong>Maintenance Calories</strong></td>
        <td><span ng-bind="(370 + ((weight/2.2046) * (1-percentBodyFat/100) * 21.6)) * (1.2 + daysExercise/10) | number:0"></span></td>
      </tr>
      <tr>
        <td><strong>Fats</strong></td>
        <td><span ng-bind="0.6*weight | number:0"></span> grams</td>
      </tr>
      <tr>
        <td><strong>Protein</strong></td>
        <td><span ng-bind="1.5*weight | number:0"></span> grams</td>
      </tr>
      <tr>
        <td><strong>Carbs</strong></td>
        <td><span ng-bind="(((370 + ((weight/2.2046) * (1-percentBodyFat/100) * 21.6)) * (1.2 + daysExercise/10)) - (1.5*weight*4) - (0.6*weight*9))/4 | number:0"></span> grams</td>
      </tr>
    </table>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script type="text/javascript">
  angular.module('dietCalculator', []).controller('dietCalculatorController', function($scope) {
    $scope.weight = 172;
    $scope.percentBodyFat = 9;
    $scope.daysExercise = 5;
    $scope.activityFactor = 1.2;
    $scope.$watch('daysExercise', function() {

    });
  }).directive("contenteditable", function() {
    return {
      restrict: "A",
      require: "ngModel",
      link: function(scope, element, attrs, ngModel) {

        function read() {
          ngModel.$setViewValue(element.html());
        }

        ngModel.$render = function() {
          element.html(ngModel.$viewValue || "");
        };

        element.bind("blur keyup change", function() {
          scope.$apply(read);
        });
      }
    };
  });
</script>